.actions__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions__list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.actions__item {
  display: none;

  &--active {
    display: block;
  }
}

.actions__toggles {
  display: flex;
  flex-wrap: wrap;

  margin-top: 42px;
}

.actions__toggle {
  cursor: pointer;

  padding: 0;
  margin-left: 32px;
  border: none;
  width: 48px;
  min-height: 44px;

  background-color: transparent;

  &:first-child {
    margin-left: 0;
  }
}

.actions__toggle:hover .actions__icon {
  opacity: 0.5;
}

.actions__icon {
  fill: #000000;
  opacity: 0.3;
}

.actions__toggle--current .actions__icon {
  fill: $main-color;
  opacity: 1;
}

.actions__toggle--current:hover .actions__icon {
  opacity: 1;
}

.actions__range {
  position: relative;

  margin-top: 20px;
  width: 240px;
  height: 2px;

  background-color: #000000;
}

.actions__grip {
  cursor: pointer;

  position: absolute;
  top: 50%;
  left: 80%;

  transform: translateY(-50%);

  box-sizing: border-box;

  padding: 0;
  width: 14px;
  height: 14px;
  border: 2px solid $main-color;
  border-radius: 50%;

  background-color: #ffffff;

  &:active {
    background-color: $main-color;
  }
}

.actions__buttons {
  margin-top: 32px;
  padding: 40px 20px;
  padding-bottom: 30px;
  border-top: 1px solid #dddfe0;
}

.actions__button {
  cursor: pointer;

  box-sizing: border-box;

  width: 280px;
  padding: 15px 0;
  margin-bottom: 12px;
  border: 3px solid $main-color;
  border-radius: 40px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $main-color;
  text-align: center;

  background-color: transparent;

  &:hover {
    color: #ffffff;

    background-color: $main-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--reset {
    border-color: rgba(40, 54, 69, 0.1);

    color: rgba(40, 54, 69, 0.1);

    &:hover {
      border-color: rgba(40, 54, 69, 0.3);

      color: rgba(40, 54, 69, 0.3);

      background-color: transparent;
    }

    &:active {
      border-color: transparent;

      color: rgba(255, 255, 255, 0.3);

      background-color: rgba(40, 54, 69, 0.3);
    }
  }
}

@media (min-width: $tablet-width) {
  .actions {
    background-color: #f2f2f2;
  }

  .actions__wrapper {
    flex-direction: row;
    align-items: flex-start;

    width: 620px;
    margin: 0 auto;

    // background-color: #ff0;
  }

  .actions__image {
    margin-right: 48px;

    min-width: 300px; // временно для сетки!!
    height: 400px;
  }

  .actions__toggles {
    display: none;
  }

  .actions__list {
    margin-top: 9px;
    margin-bottom: 65px;
    width: 100%;
  }

  .actions__item {
    position: relative;

    display: block;

    margin-bottom: 26px;
    padding-top: 10px;
    padding-bottom: 34px;
    border-bottom: 1px solid #dddfe0;

    // background-color: #ff0;

    &:last-child {
      margin-bottom: 0;
    }

    &--crop::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 22px;
      height: 22px;

      background-image: url("../img/crop-pink.svg");
      background-size: 22px 22px;
    }

    &--fill::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 24px;
      height: 22px;

      background-image: url("../img/fill-pink.svg");
      background-size: 24px 22px;
    }

    &--contrast::after {
      content: "";

      position: absolute;
      top: 2px;
      left: 4px;

      width: 16px;
      height: 16px;

      background-image: url("../img/contrast-pink.svg");
      background-size: 16px 16px;
    }
  }

  .actions__range {
    margin: 0;
    margin-left: 52px;
    width: 202px;
  }

  .actions__grip {
    &--crop {
      left: 73%;
    }

    &--fill {
      left: 13%;
    }

    &--contrast {
      left: 48%;
    }
  }

  .actions__buttons {
    margin: 0;
    padding: 0;
    border: none;
  }

  .actions__button {
    width: 260px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .actions {
    padding: 0;

    background-color: #ffffff;
  }

  .actions__wrapper {
    padding: 57px 60px 47px 80px;
    width: 800px;

    background-color: #f2f2f2;
  }

  .actions__column {
    flex-grow: 1;
    // outline: 2px solid #333;
  }

  .actions__image {
    margin-right: 90px;
  }

  .actions__list {
    margin-top: 0;
    margin-bottom: 148px;
  }

  .actions__item {
    margin-bottom: 15px;
    padding-top: 19px;

    &--crop::after {
      width: 44px;
      height: 44px;

      background-repeat: no-repeat;
      background-size: 44px 44px;
    }

    &--fill::after {
      width: 48px;
      height: 43px;

      background-repeat: no-repeat;
      background-size: 48px 43px;
    }

    &--contrast::after {
      top: 5px;
      left: 6px;

      width: 32px;
      height: 32px;

      background-repeat: no-repeat;
      background-size: 32px 32px;
    }
  }

  .actions__range {
    margin-left: 92px;
    width: 288px;
  }

  .actions__grip {
    &--crop {
      left: 25%;
    }

    &--fill {
      left: 85%;
    }

    &--contrast {
      left: 56%;
    }
  }

  .actions__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;

    // background-color: #ff0;
  }

  .actions__button {
    width: 183px;
    margin-bottom: 0;
  }

}
