.download {
  margin: 0 auto;
  width: 320px;

  font-weight: 300;
  text-align: center;
  color: $text-color-light;

  background-color: #1d2631;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -65px;
}

.download__wrapper {
  margin: 0 auto;
  padding-top: 423px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.download__title {
  margin: 0;
  margin-top: -4px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $text-color-light;
  text-align: center;
}

.download__slogan {
  display: none;
}

.download__main-link {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  min-height: 55px;
  padding: 10px;
  border: 3px solid #ffffff;

  border-radius: 40px;

  &:hover {
    background-color: #ffffff;
  }
}

.download__main-link:hover .download__title {
  color: $main-color;
}

.download__main-link:active .download__title {
  opacity: 0.3;
}

.download__list {
  width: 205px;
  margin-top: 30px;
}

.download__description {
  margin: 0;
  margin-top: 24px;

  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .download {
    width: 660px;

    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: center -110px;
  }

  .download__wrapper {
    margin: 0;
    padding: 94px 0 110px;
    width: 300px;
  }

  .download__main-link {
    order: 1;
  }

  .download__slogan {
    order: 0;

    display: block;

    margin-bottom: 31px;
    width: 200px;

    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
  }

  .download__list {
    order: 3;

    margin-top: 46px;
  }

  .download__description {
    order: 3;

    margin-top: 35px;

    font-size: 18px;
  }

}

@media (min-width: $desktop-width) {
  .download {
    width: 1200px;

    background-image: none;
  }

  .download__wrapper {
    // margin: 0;
    padding-top: 218px;
    padding-bottom: 123px;
  }

  .download__title {
    font-size: 21px;
  }

  .download__slogan {
    margin-bottom: 52px;
    width: 250px;

    font-size: 50px;
  }

  .download__list {
    margin-top: 66px;
  }

  .download__description {
    margin-top: 55px;
  }
}
