.form-list {
  list-style: none;

  margin: 0;
  padding: 0;

  font-size: 18px;
}

.form-list__item {
  position: relative;

  padding-left: 70px;

  &--checkbox {
    margin-bottom: 52px;
  }

  &--radio {
    margin-bottom: 42px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-list__checkbox + label::before {
  cursor: pointer;

  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  background-color: #ffffff;
}

.form-list__checkbox:checked + label::before {
  background-image: url("../../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form-list__checkbox:hover + label::before,
.form-list__checkbox:focus + label::before {
  border-color: #000000;
}

.form-list__checkbox:active + label::before {
  border-color: $main-color;
}

.form-list__radio + label::before {
  cursor: pointer;

  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;

  background-color: #ffffff;
}

.form-list__radio:checked + label::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: $main-color;
}

.form-list__radio:hover + label::before,
.form-list__radio:focus + label::before {
  border-color: #000000;
}

.form-list__radio:active + label::before {
  border-color: $main-color;
}
