.form-list {
  list-style: none;

  margin: 0;
  padding: 0;

  font-size: 18px;
}

.form-list__item {
  position: relative;

  padding-left: 70px;

  &--checkbox {
    margin-bottom: 52px;
  }

  &--radio {
    margin-bottom: 42px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form-list__checkbox + label::before {
  cursor: pointer;

  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  background-color: #ffffff;
}

.form-list__checkbox:checked + label::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.form-list__checkbox:hover + label::before,
.form-list__checkbox:focus + label::before {
  border-color: #000000;
}

.form-list__checkbox:active + label::before {
  border-color: $main-color;
}

.form-list__radio + label::before {
  cursor: pointer;

  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;

  background-color: #ffffff;
}

.form-list__radio:checked + label::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  width: 15px;
  height: 15px;
  border-radius: 50%;

  background-color: $main-color;
}

.form-list__radio:hover + label::before,
.form-list__radio:focus + label::before {
  border-color: #000000;
}

.form-list__radio:active + label::before {
  border-color: $main-color;
}

@media (min-width: $tablet-width) {
  .form-list {
    margin-top: 12px;
    margin-bottom: 36px;

    &--checkboxes {
      margin-bottom: 25px;
    }
  }

  .form-list__item {
    padding-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form-list--checkboxes {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 38px;
  }

  .form-list__item--checkbox {
    box-sizing: border-box;

    margin-right: 50px;
    margin-bottom: 50px;

    &:nth-child(6n+1),
    &:nth-child(6n+2) {
      width: 260px;
    }

    &:nth-child(6n+3),
    &:nth-child(6n+4) {
      width: 245px;
    }

    &:nth-child(6n+5),
    &:nth-child(6n) {
      width: 210px;
    }

    &:nth-child(6n),
    &:nth-child(6n-1) {
      margin-right: 0;
    }

    &:nth-child(2n) {
      order: 2;
    }

    &:last-child,
    &:nth-last-child(3),
    &:nth-last-child(5) {
      margin-bottom: 0;
    }
  }

  .form__border--textarea {
    padding-bottom: 32px;
  }

  .form__textarea {
    height: 125px;
  }

  .form__bottom-wrapper {
    margin-top: 65px;
  }
}
