.inner-page {
  margin: 0 auto;
  width: 320px;
}

.inner-page__title-container {
  box-sizing: border-box;

  padding: 20px;
  padding-top: 30px;
  min-height: 170px;

  background-color: #2c394a;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -65px;
  background-size: 320px auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.inner-page__title {
  margin: 0;

  font-size: 24px;
  line-height: 1.25;
  font-weight: 300;
  text-align: center;
  color: $text-color-light;
}

.inner-page__description-container {
  box-sizing: border-box;

  margin: 0;
  padding: 20px;
  min-height: 185px;

  display: flex;
  align-items: center;

  &--low {
    min-height: 170px;
  }
}

.inner-page__description {
  margin: 0;

  text-align: center;
}

.inner-page__addition {
  display: none;
}

@media (min-width: $tablet-width) {
  .inner-page {
    // width: 660px;
    width: 100%;
  }

  .inner-page__title-container {
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 330px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center -110px;
    background-size: 1200px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .inner-page__title {
    margin: 0 auto;
    width: 620px;

    font-size: 50px;
    line-height: 1.2;

    &--short {
      width: 500px;
    }
  }

  .inner-page__description-container {
    margin: 0 auto;
    padding: 20px 75px;
    width: 660px;
    min-height: 228px;

    &--low {
      min-height: 252px;
    }
  }

  .inner-page__description {
    margin: 0 auto;
    font-size: 18px;
  }

  .inner-page__addition {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .inner-page__title-container {
    padding-top: 174px;
    min-height: 394px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center top;
    background-size: 2560px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .inner-page__title {
    width: 820px;

    &--short {
      width: 500px;
    }
  }

  .inner-page__description-container {
    width: 950px;
    min-height: 240px;

    &--short {
      width: 800px;
    }

    &--low {
      min-height: 223px;
    }
  }

  .inner-page__addition {
    display: inline;
  }
}
