.main-nav {
  background-color: #283645;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  cursor: pointer;

  padding: 0;
  width: 69px;
  height: 69px;
  border: none;

  background-color: transparent;
  background-color: #ff0; // временно!
}

.main-nav__list {
  list-style: none;

  margin: 0;
  padding: 0;
  border-top: 1px solid #000000;

  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: $text-color-light;
}

.main-nav__item {
  border-bottom: 1px solid #000000;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.main-nav__item a {
  display: block;

  padding-top: 15px;
  padding-bottom: 15px;

  color: $text-color-light;

  &[href]:hover {
    color: $main-color;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    margin-top: 27px;
    width: 55px;
    height: 55px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    background-color: rgba(0, 0, 0, 0);
  }

  .main-nav__list {
    display: flex;

    margin-left: auto;

    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;

    border: none;
  }

  .main-nav__item {
    margin-left: 80px;
    margin-top: 10px;
    padding-bottom: 10px;
    border: none;

    &:first-child {
      margin-left: 0;
    }

    &--current {
      border-bottom: 2px solid $text-color-light;
    }
  }

  .main-nav__item a {
    padding: 0;

    &[href]:active {
      color: $text-color-light;
      opacity: 0.3;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}







