.page-header {
  position: relative;

  width: 320px;

  background-color: #283645;
}

.page-header__logo {
  display: block;
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 14px;

  border-bottom: 1px solid #000000;
}
