.photo-container--panorama {
  margin-bottom: 21px;
}

.photo-container__photo {
  display: block;

  margin: 0 auto;
}

.photo-container__wrapper {
  box-sizing: border-box;

  margin: 0 auto;
  padding: 18px;
  padding-right: 10px;
  width: 280px;

  line-height: 24px;

  background-color: #f2f2f2;
}

.photo-container__author-field {
  box-sizing: border-box;

  margin: 0;
}

.photo-container__author-name {
  font-weight: 700;
}

.photo-container__author-activity {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
}

.photo-container__description {
  margin: 0;
  margin-bottom: 10px;
}

.photo-container__likes {
  margin: 0;
  padding-left: 32px;

  font-size: 12px;
  text-transform: uppercase;
  color: $main-color;
}

@media (min-width: $tablet-width) {
  .photo-container {
    display: flex;
    flex-direction: column;

    width: 300px;

    &--panorama {
      margin-bottom: 50px;
      width: 100%;
    }
  }

  .photo-container--panorama .photo-container__link {
    display: block;

    width: 100%;

    // временно!!
    height: 509px;
    background-color: pink;
  }

  .photo-container--panorama .photo-container__wrapper {
    position: relative;

    width: 620px;
    min-height: 0;
  }

  .photo-container--panorama .photo-container__author-field {
    padding-right: 150px;
  }

  .photo-container--panorama .photo-container__likes {
    position: absolute;
    top: 24px;
    right: 30px;

    padding-right: 30px;
  }

  .photo-container__link {
    display: block;

    width: 100%;

    // временно!
    height: 300px;
    background-color: pink;
  }

  .photo-container__wrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    padding: 23px 27px;
    padding-bottom: 15px;
    width: 100%;
    min-height: 155px;
  }


  .photo-container__description {
    flex-grow: 1;

    margin-bottom: 11px;
  }

  .photo-container__likes {
    padding-left: 0;
    padding-bottom: 8px;
  }
}

@media (min-width: $desktop-width) {
  .photo-container--panorama .photo-container__link {
    // временно!
    height: 506px;
  }

  .photo-container--panorama .photo-container__wrapper {
    width: 940px;
    padding-bottom: 12px;
  }

  .photo-container__link {
    // временно!
    height: 400px;
  }
}
