.photo-container--panorama {
  position: relative;

  margin-bottom: 21px;

  &::after {
    content: "Панорама дня";

    position: absolute;
    top: 0;
    right: 20px;

    padding: 6px 19px;

    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: $text-color-light;

    background-color: $main-color;
  }
}

.photo-container__photo {
  display: block;

  margin: 0 auto;
}

.photo-container__wrapper {
  box-sizing: border-box;

  margin: 0 auto;
  padding: 18px;
  padding-right: 10px;
  width: 280px;

  line-height: 24px;

  background-color: #f2f2f2;
}

.photo-container__author-field {
  box-sizing: border-box;

  margin: 0;
}

.photo-container__author-name {
  font-weight: 700;
}

.photo-container__author-activity {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  font-style: normal;
}

.photo-container__description {
  margin: 0;
  margin-bottom: 10px;
}

.photo-container__likes {
  margin: 0;
  padding-left: 32px;

  font-size: 12px;
  text-transform: uppercase;
  color: $main-color;

  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: 13px 12px;
  background-position: left 5px;
}

@media (min-width: $tablet-width) {
  .photo-container {
    display: flex;
    flex-direction: column;

    width: 300px;

    &--panorama {
      margin: 0 auto;
      margin-bottom: 50px;
      width: 660px;

      &::after {
        top: 55px;
      }
    }
  }

  .photo-container--panorama .photo-container__link {
    display: block;

    width: 660px;
    height: 509px;

    background-color: pink;
  }

  .photo-container--panorama .photo-container__wrapper {
    position: relative;

    width: 620px;
    min-height: 0;
  }

  .photo-container--panorama .photo-container__author-field {
    padding-right: 150px;
  }

  .photo-container--panorama .photo-container__likes {
    position: absolute;
    top: 24px;
    right: 30px;

    padding-right: 30px;

    background: none;

    &::after {
      content: "";

      position: absolute;
      top: 4px;
      right: 0;

      width: 13px;
      height: 13px;

      background-image: url("../img/icon-heart.svg");
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .photo-container__link {
    display: block;

    width: 100%;
  }

  .photo-container__wrapper {
    // flex-grow: 1;

    display: flex;
    flex-direction: column;

    padding: 23px 27px;
    padding-bottom: 15px;
    width: 100%;
    min-height: 155px;
  }

  .photo-container__photo--panorama {
    height: 100%;

    object-fit: cover;
  }


  .photo-container__description {
    flex-grow: 1;

    margin-bottom: 11px;
  }

  .photo-container__likes {
    padding-left: 0;
    padding-bottom: 8px;

    background-position: right 5px;
  }
}

@media (min-width: $desktop-width) {
  .photo-container--panorama {
    min-width: 960px;
    width: 100%;
    max-width: 1200px;

    &::after {
      top: 55px;
      right: 130px;
    }
  }

  .photo-container--panorama .photo-container__link {
    width: 100%;
    height: auto;
  }

  .photo-container--panorama .photo-container__wrapper {
    width: 940px;
    padding-bottom: 12px;
  }
}
