.user-photo {
  margin: 0 auto;

  background-color: #f2f2f2;
}

.user-photo__description-container {
  min-height: 175px;

  background-color: #ffffff;
}

.user-photo__actions {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .user-photo {
    background-color: #ffffff;
  }

  .user-photo__description-container {
    min-height: 192px;
  }

  .user-photo__actions {
    margin-top: 0;
    padding-top: 57px;
    padding-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .user-photo {
    margin-bottom: 28px;
  }

  .user-photo__description-container {
    min-height: 185px;
  }
}
